body {
    background-color: rgb(50, 50, 50);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
}

.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.winning-line {
    animation-name: makeThicker;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes makeThicker {
    0% {
        font-weight: bold;
    }
    50% {
        font-weight: 900; /* Oder einen anderen Wert für eine stärkere Betonung */
    }
    100% {
        font-weight: bold;
    }
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

td:hover {
    background-color: #555;
}

td:active {
    background-color: #777;
}

table {
    border-collapse: collapse;
}

table td {
    border: 5px solid white;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.mt_32{
margin-top: 32px;
}

@media (max-width: 400px) {
    td {
        width: 60px;
        height: 60px;
        font-size: 16px;
    }
}